

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.nav-menu {
  display: flex;
}

.logo {
  padding: 10px 10px;
}

.nav-item {
  font-family: "Yeseva One", sans-serif;
  font-size: 1.6rem;
  list-style: none;
  margin-left: 10px;
  padding: 10px 10px;
  cursor: pointer;
  transition: 0.5s;

}
.nav-item:hover {
     color: rgb(252, 47, 88);
  }





