.price {
  
  // height: 400px;
  padding-bottom: 70px;

  background-image: url(./src/img/svg/background.svg);

  background-size: 1920px auto;
  background-position: center top;
  background-repeat: no-repeat;
}

.price-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  max-width: 850px;
}

.price-numbering {
  margin-top: 10px;
  position: relative;
  background-color: $gold;
  box-shadow: 0 2px 10px rgba(0,0,0,0.25), 

}

.price-numbering::before {
  // position: absolute;
  content: "";
  left: 50px;
  // width: calc(50% - 50px);
  background-color: $gold;
}

.price-h2 {
  margin: 30px 0 10px;
}

.price-items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  margin: 20px 0 10px;
}

.price-item {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
  border: 2px solid $violet;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s;
}

.price-item:hover {
  // background-color: #f4e7ff;
  background-color: rgba(255, 255, 255, 80%);

}

.price-item-active {
  color: white;
  background-color: $violet;
}
.price-item-active:hover {
  background-color: $violet;
}

.price-item-blocks {
  margin: 30px 0 0 0;
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.price-item-img {
  width: 340px;
  height: 240px;
    // box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border: 1px dashed rgb(189, 189, 189);
    padding: 10px 10px;
}

.price-item-blocks-left {
display: flex;
flex-direction: column;
justify-content: space-between;
 gap: 10px;
 min-height: 245px;

}

.price-item-block-up {
  display: flex;
  justify-content: space-between;
  border: 2px solid #747474; 
  padding: 15px 0;
  border-left: none;
  border-right: none;

}

.price-item-block-up-items {
  display: flex;
  gap: 10px;
font-size: 15px;

}
.price-item-block-up-item {
font-size: 20px;
font-weight: 600;
}



.price-item-block-down {
display: flex;
align-items: center;
justify-content: space-between;
}
.price-item-block-down-price {
  font-size: 35px;
  color: #5b466d;
  font-weight: 600;
}

.price-size {
 font-size:15px;
}

.price-item-block-botton {
  margin: 0;
  padding: 10px;
}

.price-strong {
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0);

}
