.questions {
  background-image: url(./src/img/svg/background.svg);

  height: 1400px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions-numbering {
  margin-top: 50px;
  position: relative;
  background-color: $violet;
  color: white;
}
.questions-block {
  width: 100%;
}

.questions-items {
  display: flex;
  gap: 30px;
}
.question-dot {
  position: relative;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border: 2px solid $gold;
  border-radius: 50%;
  cursor: pointer;

  ::before {
    top: calc(50% - 1px);
    right: calc(50% - 10px);
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: black;
  }

  ::after {
    top: calc(50% - 10px);
    right: calc(50% - 1px);
    position: absolute;
    content: "";
    width: 2px;
    height: 20px;
    background-color: black;
  }
}

// .question-dot-plus {
//   width: 20px;
//   height: 2px;
//   background-color: black;
// }

.question {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}
.answer {
  max-width: 70%;
  padding: 10px 20px;
  border-top: 2px solid $gold;
  border-bottom: 2px solid $gold;
  line-height: 18px;

  p {
    margin: 6px;
  }
}

.answer-close {
  display: none;
}

strong,
p::selection {
  background-color: gold;
}
