.questions {
  background-image: url(./src/img/svg/background.svg);

  height: 1400px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.questions-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions-numbering {
  margin-top: 50px;
  position: relative;
  background-color: $violet;
  color: white;
}
.questions-block {
  width: 100%;
}

.questions-items {
  display: flex;
  gap: 30px;
}

.questions-item {
  position: relative;
}
.question-dot {
  position: relative;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;

  ::before {
    top: calc(50% - 1px);
    right: calc(50% - 7px);
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    background-color: black;
  }

  ::after {
    top: calc(50% - 7px);
    right: calc(50% - 1px);
    position: absolute;
    content: "";
    width: 2px;
    height: 14px;
    background-color: black;
  }

  transition: 0.2s;
}

.question-dot:hover {
  border-color: $gold;
  background-color: $gold;
}

.question-dot-active {
  position: relative;
  width: 50px;
  height: 50px;
  min-width: 50px;
  border: 1px solid $gold;
  border-radius: 50%;
  cursor: pointer;
  border-color: $gold;
  background-color: $gold;
  transform: rotate(45deg);

  ::before {
    top: calc(50% - 1px);
    right: calc(50% - 7px);
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    background-color: black;
  }

  ::after {
    top: calc(50% - 7px);
    right: calc(50% - 1px);
    position: absolute;
    content: "";
    width: 2px;
    height: 14px;
    background-color: black;
  }
  transition: 0.5s;
}

.question {
  font-size: 18px;
  font-weight: 700;
  margin: 20px 0;
}
.answer {
  // position: absolute;
  max-width: 70%;
  padding: 10px 20px;
  border-top: 2px solid $gold;
  border-bottom: 2px solid $gold;
  line-height: 18px;

  p {
    margin: 6px;
  }
   animation: showAnswer 0.15s linear forwards;
}

@keyframes showAnswer {
  0% {
    transform: translateY(-15%);

  }
  100% {
    transform: translateY(0);
 }
}

.answer-close {
  display: none;
}

strong,
p::selection {
  background-color: gold;
}
