.portfolio {
  height: 750px;
  background-image: url(./src/img/narashchivaniye_resnits_minsk4.webp);

  background-size: 1920px auto;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 20px 0 0 0;
}

.portfolio-wrapper {
  // margin: 0 auto;
}

.portfolio-numbering {
  margin: 0 0 20px;
}
.portfolio-h2 {
  color: white;
  margin-top: 30px;
}
.portfolio-slider {
  display: flex;
  position: relative;
  max-width: 900px;
  margin-top: 40px;
}

.portfolio-slider-items {
  display: flex;
  gap: 5px;
  max-width: 900px;
  position: relative;
}

.portfolio-slider-item {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  // max-height: 600px;
}

.portfolio-slider-img {
  cursor: pointer;
  transition: 0.3s;
  filter: grayscale(65%);
}
.portfolio-slider-img:hover {
  filter: grayscale(0%);
}
.portfolio-slider-01-01 {
  max-width: 212px;
}

.portfolio-slider-01-02 {
  max-width: 266px;
}

.portfolio-slider-01-03 {
  max-width: 334px;
}

.slider-01 {
}
.slider-02 {
}
.slider-03 {
}
.slider-04 {
}
.slider-05 {
}

.portfolio-slider-img-active {
  transform: scale(1.1);
  position: absolute;
  margin:  auto auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  z-index: 150;
  filter: grayscale(0%);
  box-shadow: 0px 0px 40px 20px rgba(255, 255, 255, 0.24);
}



.portfolio-slider-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  top: calc(50% - 20px);
  cursor: pointer;
  box-shadow: 0px 0px 5px 5px rgba(133, 133, 133, 0.15);
  transition: 0.3s;
  z-index: 100;

  img {
    width: 25px;
    height: 25px;
  }
}

.portfolio-slider-arrow:hover {
  transform: scale(1.2);
}

.arrow-left {
  left: -20px;
  padding-right: 3px;
}
.arrow-right {
  right: -20px;
  padding-left: 3px;
}
