.reviews {
  position: relative;
  height: 570px;
  background-image: url(./src/img/svg/background-bottom.svg);
background-size: 1920px auto;
background-position: center top;
background-repeat: no-repeat;
z-index: 2;

}

.reviews-background {
  position: absolute;
  max-width: 100%;
}

.reviews-numbering {
  margin: 0 0 40px;
}

.courses-h2 {
  margin-top: 50px;
}

.reviews-items {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.reviews-item {
  width: 32%;
}

.reviews-item-up {
  position: relative;
  background-color: rgba(255, 255, 255, 80%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 20px 10px;
  border-radius: 25px;
  min-height: 230px;
}

.reviews-item-up::after {
  content: "";
  position: absolute;
  left: 40px;
  bottom: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 30px 0 0;
  border-color: rgba(255, 255, 255, 80%) transparent transparent transparent;
}
.reviews-item-star {
  margin-right: 0.15em;
  height: 14px;
  width: 14px;
  display: inline-block;
}

.reviews-item-text {
  margin: 10px 0;
}
.reviews-item-post {
  white-space: nowrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(17, 17, 17, 0.5);
}

.reviews-item-google {
  width: auto;
  height: 34px;
  fill: rgb(25, 123, 255);
  fill: $violet;
}

.reviews-item-down {
  display: flex;
  padding: 0 20px;
  margin-top: 20px;
  gap: 10px;
}

.reviews-item-down-img {
  display: inline-block;
  height: 44px;
  width: 44px;
}

.reviews-item-name {
  font-weight: 700;
}

.reviews-item-date {
  font-size: 13px;
  margin-top: 5px;
  color: rgb(117, 117, 117);
}
